.clothes-card{
  margin: 0 20px 70px 20px;
}

.clothes-card a{
  text-decoration: none;
  color: black;
}

.clothes-image{
  width: 300px;
}

.shoppingBag{
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.subtractionButton{
  width: 50px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(236, 233, 233);
  border: none;
  border-right: 1px solid gray;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.incrementButton{
  width: 50px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(236, 233, 233);
  border: none;
  border-right: 1px solid gray;
  cursor: pointer;
}

.count{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 28px;
  border-right: 1px solid gray;
}

.resetButton{
  width: 147px;
  height: 30px;
  border: none;
  background-color: rgb(236, 162, 162);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}


