.header{
  height: 90px;
  border-bottom: 1px solid rgb(156, 155, 155);
  background-color: white;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-left{
  display: flex;
  align-items: center;
  gap: 30px;
  
}

.nav-bar a{
  text-decoration: none;
  color: black;
}

.logo{
  font-family: 'Black Ops One', cursive;
  font-size: 35px;
}

.link-container{
  display: flex;
  list-style: none;
}

.link-container li{
  padding: 20px;
  font-weight: bold;
}