.header{
  height: 90px;
  border-bottom: 1px solid rgb(156, 155, 155);
  background-color: white;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-left{
  display: flex;
  align-items: center;
  gap: 30px;
  
}

.nav-bar a{
  text-decoration: none;
  color: black;
}

.searchContainer{
  border: 1px solid gray;
  border-radius: 5px;
}

.searchInput{
  height: 25px;
  outline: none; 
  border: none; 
  border-right: 1px solid gray;
  border-radius: 5px 0 0 5px;
}

.searchButton{
  height: 28px;
  width: 36px;
  border: none;
  background-color: white;
  border-radius: 0 5px 5px 0;
  background-color: rgb(236, 233, 233);
  cursor: pointer;
}

.logo{
  font-family: 'Black Ops One', cursive;
  font-size: 35px;
}

.link-container{
  display: flex;
  list-style: none;
}

.link-container li{
  padding: 20px;
  font-weight: bold;
}